<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Image Similarity</title>
  <style>
.container {
  max-width: 80em;
  margin: 0 auto;
  padding: 0 1em;
}
.image {
  width: 100%;
  height: 10rem;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  background-position: center center; 
}

.main-item {
  text-align: center;
}
.main-item img {
  width: 60%;
  margin: 2rem auto;
}

  </style>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css">
</head>

<body>

<div class="container">

  <div class="main-item">
  	<img src="/data/{{ items[0].path.replace('/var/data/', '')}}">
  </div>

  <div class="grid-5_xs-1">
    {% for item in items %}
	<div class="col">
          <a class="image" title="distance: {{ item.distance }}" href="/gallery/{{ item._id}}" style="background-image: url(/data/{{ item.path.replace('/var/data/', '')}});"></a>

{% if showInfo %}

<table>
{% for em in item.embedding[:20] %}
  <tr>
    <td>{{ em[0] }}</td>
    <td>{{ em[1] | round(5) }}</td>
  </tr>
{% endfor %}
</table>

{% endif %}     

</div>   
{% endfor %}

</div>
</div>
  <script></script>
</body>
</html>
