<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Image Similarity</title>
  <style>
.container {
  max-width: 80em;
  margin: 0 auto;
  padding: 0 1em;
}
.image {
  width: 100%;
  height: 10rem;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  background-position: center center; 
}


  </style>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css">
</head>

<body>

<div class="container">

  <div class="grid-5_xs-1">
    {% for item in items %}
	<div class="col">
          <a class="image"  href="/gallery/{{ item._id}}" style="background-image: url(/data/{{ item.path.replace('/var/data/', '')}});"></a>
        </div>
    {% endfor %}
  </div>
</div>

  <script></script>
</body>
</html>
